<!-- Newsletter -->
<section class="newsletter">
    <h2>Obrigado por utilizar!</h2>
</section>
<!-- Copyright -->
<div class="copyright">
    <p>&#169; Car Rental Website All Right Reserved</p>
    <div class="social">
        <a href="#"><i class='bx bxl-facebook'></i></a>
        <a href="#"><i class='bx bxl-twitter'></i></a>
        <a href="#"><i class='bx bxl-instagram'></i></a>
    </div>
</div>