<!DOCTYPE html>
<html lang="'en">
    <head>
        <%- include('head_login.ejs') %>
    </head>
    <body>

        <div class="login-container">
            <div class="login-form">
                <span class="title-form">Login</span>

                <form action="segin-in" method="post">
                    <div class="input-field">
                        <input type="text" name="email" placeholder="Digite seu email" required>
                        <i class='bx bx-envelope'></i>
                    </div>
                    <div class="input-field">
                        <input type="password" name="senha" placeholder="Digite sua password" id="password" required>
                        <i class='bx bx-key icon'></i>
                        <i onclick="myFunction()" id="hide1" class='bx bx-low-vision showHidePw'></i>
                        <i onclick="myFunction()" id="hide2" class='bx bx-show showHidePw'></i>
                    </div>
                    <div class="input-field button">
                        <button type="submit"><input type="button" value="Entrar"></button>
                    </div>
                </form>
                <div class="login-signup">
                    <span class="text">Não tem uma conta?
                        <a href="/sign-up" class="text signup-text">Cadastre-se agora</a>
                    </span>
                </div>
            </div>
        </div>

        <script>
            function myFunction(){
                const input = document.querySelector('#password');
                const eye1 = document.getElementById('hide1');
                const eye2 = document.getElementById('hide2');
                if(input.type === 'password'){
                     input.type = 'text';
                     eye1.style.display = 'none';
                     eye2.style.display = 'block';
                }
                else{
                    input.type = 'password';
                    eye1.style.display = 'block';
                    eye2.style.display = 'none';
                }
            }
        </script>
        <script>
            alert("<%= alerta %>");
        </script>

    </body>
</html>