<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head_loja.ejs') %>
</head>
<body>
    <!-- Header -->
    <header>
        <a href="#" class="logo"><img src="img/man.png" alt=""></a>

        <div class="bx bx-menu" id="menu-icon"></div>

        <ul class="navbar">
            <li><a href="#loja">Loja</a></li>
            <li><a href="/loja/aluguel">Meus Aluguéis</a></li>
            <li><a href="/loja/conta">Minha Conta</a></li>
        </ul>

        <div class="header-btn">
            <a href="/" class="sign-in">Sair</a>
        </div>
    </header>
    <!-- Services -->
    <section class="loja" id="loja">
        <div class="heading">
            <h1> Loja </h1>
            <span>Confira as melhores ofertas abaixo</span>
        </div>
        <div class="services-container">
            <div class="box">
                <div class="box-img">
                    <img src="img/car1.jpg" alt="">
                </div>
                <p>Marca</p>
                <h3>Nome do Carro</h3>
                <label>Cor do Carro</label>
                <h2>R$ 58500<span> ou </span>R$ 358<span>/dia</span></h2>
                <a href="/loja/alugar" class="btn">Alugar</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="img/car2.jpg" alt="">
                </div>
                <p>Marca</p>
                <h3>Nome do Carro</h3>
                <label>Cor do Carro</label>
                <h2>R$ 58500<span> ou </span>R$ 358<span>/dia</span></h2>
                <a href="/loja/alugar" class="btn">Alugar</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="img/car3.jpg" alt="">
                </div>
                <p>Marca</p>
                <h3>Nome do Carro</h3>
                <label>Cor do Carro</label>
                <h2>R$ 58500<span> ou </span>R$ 358<span>/dia</span></h2>
                <a href="/loja/alugar" class="btn">Alugar</a>
            </div>
        </div>
    </section>
    <%- include('foolder.ejs') %>

</body>
</html>