<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>May Node and Express be with you.</h1>
    <form action="/show" method="POST">
        <input type="text" placeholder="Nome" name="nome">
        <input type="text" placeholder="Frase" name="frase">
        <button type="submit">Enviar</button>
    </form>
    
    <h2>Frases</h2>
    <ul class="frases">
        <% for(let i = 0; i < frases.length;i++) {%>
            <li class="frase">
                <span> <%= frases[i].nome%>: </span>
                <span> <%= frases[i].frase%> </span>
            </li>
        <% } %>  
    </ul>
</body>
</html>